<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SolidRC</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  @RenderSection("Styles", required: false)

  <script>
    var loginRedirectUrl = "@Url.Action("login", "home", null, Context.Request.Scheme)";
    var homeRedirectUrl = "@Url.Action("index", "home", null, Context.Request.Scheme)";
  </script>
</head>

<body>
  <partial name="_Navigation" />
  <!-- <partial name="_CookieConsentPartial" /> -->

  <div class="container body-content">

      @RenderBody()

      <hr />
      <footer>
          <p>&copy; 2018 - SolidRC</p>
      </footer>
  </div>

  <script>
    function mapIconToUrl(icon)
    {
      return "@Url.Content("~/open-iconic/svg/")" + icon;
    }
  </script>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/solid-auth-client/dist-lib/solid-auth-client.bundle.js"></script>
    <script src="~/lib/vue/dist/vue.min.js"></script>
    <script src="~/js/vue-addons.js"></script>
    <script src="~/lib/rdflib/dist/rdflib.min.js"></script>
    <script src="~/js/ORDFMapper.js" asp-append-version="true"></script>
    <script src="~/js/namespaces.js" asp-append-version="true"></script>
    <script src="~/js/profileService.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/solid-auth-client/dist-lib/solid-auth-client.bundle.js"></script>
    <script src="~/lib/vue/dist/vue.min.js"></script>
    <script src="~/js/vue-addons.js"></script>
    <script src="~/lib/rdflib/dist/rdflib.min.js"></script>
    <script src="~/js/ORDFMapper.js" asp-append-version="true"></script>
    <script src="~/js/namespaces.js" asp-append-version="true"></script>
     <script src="~/js/profileService.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>


  @RenderSection("Scripts", required: false)
</body>
</html>
