<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Solid-RC</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>

  <script>
    var loginRedirectUrl = "@Url.Action("login", "home", null, Context.Request.Scheme)";
    var homeRedirectUrl = "@Url.Action("index", "home", null, Context.Request.Scheme)";
    var doRedirectAnonymous = true;
  </script>

  @RenderSection("Head", required: false)
</head>

<body>
  <partial name="_Navigation" />
  <!-- <partial name="_CookieConsentPartial" /> -->

  <div class="container body-content">

      @RenderBody()

      <hr />
      <footer>
          <div>&copy; 2018 - Solid-RC
            | @Html.ActionLink("About", "about", "home")
            | @Html.ActionLink("Privacy", "privacy", "home")
            | @Html.ActionLink("Contact", "contact", "home")
          </div>
      </footer>
  </div>

  <script>
    function mapIconToUrl(icon)
    {
      return "@Url.Content("~/open-iconic/svg/")" + icon;
    }
  </script>

  <environment include="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/solid-auth-client/dist-lib/solid-auth-client.bundle.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/rdflib/rdflib.min.js"></script>
    <script src="~/js/mutex.js" asp-append-version="true"></script>
    <script src="~/js/vue-addons.js" asp-append-version="true"></script>
    <script src="~/js/ORDFMapper.js" asp-append-version="true"></script>
    <script src="~/js/namespaces.js" asp-append-version="true"></script>
    <script src="~/js/profileService.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/solid-auth-client/dist-lib/solid-auth-client.bundle.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/rdflib/rdflib.min.js"></script>
    <script src="~/js/mutex.js" asp-append-version="true"></script>
    <script src="~/js/vue-addons.js" asp-append-version="true"></script>
    <script src="~/js/ORDFMapper.js" asp-append-version="true"></script>
    <script src="~/js/namespaces.js" asp-append-version="true"></script>
     <script src="~/js/profileService.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
